* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-padding-top: 110px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding-top: 80px;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    height: 80px;
    background-color: #00152E;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.header img{
    width: 150px;
    height: auto;
}

.hamburger {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
}

.menu-toggle {
    display: none;
}

.navMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 600px;
    background-color: #00152E;
    color: #ffffff;
    padding: 32px 40px;
    box-sizing: border-box;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 900;
}

.navMenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.closeMenu {
    cursor: pointer;
    font-size: 22px;
}

.navMenu ul {
    list-style: none;
    margin: 32px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.navMenu ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.navMenu ul li a:link,
.navMenu ul li a:visited {
    color: #ffffff;
}

.navMenu ul li a:hover {
    color: #a1772d;
}

.navMenu ul li a:active {
    opacity: 0.7;
}


.menu-toggle:checked ~ .navMenu {
    transform: translateX(0);
} /* transition navMenu to open*/

.nav-image img {
    width: 300px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 6px
    
}

/* Footer */

footer {
    background-color: #D9D9D9;
    width: 100%;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-nav {
    flex: 1;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;
    margin: 0;
}

.footer-nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #00152E;
    font-size: 13px;
}

.footer-nav ul li a:hover {
    opacity: 0.7;
}

footer p {
    color: #00152E;
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    margin-left: auto;
}

/*Back to top btn*/

.back-to-top{
    position: fixed;
    bottom: 16px;
    right: 32px;
    align-items: center;
    justify-content: center;    
    text-decoration: none; 
    z-index: 1000;
}

.back-to-top span{
    color: white;
    font-size: 50px;
    background-color: #423B2F;
    border-radius: 50px;
}

/* Home */

.container{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.mainHome {
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px;
    padding-right: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    box-sizing: border-box;
}

.main-content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    row-gap: 30px;
    column-gap: 40px;
}

#first-img img {
    width: 750px;
    height: auto;
    display: block;
    border-radius: 24px;
}

.main-text {
    grid-column: 1 / 2;
    font-family: "Montserrat", sans-serif;
    color: #222222;
    line-height: 2.0;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 100px;
    text-align: justify;
}
.main-text p{
    margin-bottom: 20px;
}

.main-text h1 {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 16px;
    font-weight: normal;
}

#second-img{
    width: 500px;
    grid-row: 3 / 3;
    grid-column: 1 / 2;
}

#second-img img {
    width: 500px;
    height: auto;
    display: block;
    border-radius: 16px;
    padding-left: 40px;
}

aside{
    grid-column: 2 / 2;
    background-color: #8F7F65;
    width: 700px;
    height: fit-content;
    border-radius: 10px;
}
.aside-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.aside-title h1{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
    font-weight: normal;
    font-style: italic;
   
}
.aside-content p{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
    width: 550px;
    line-height: 2.0;

}

aside img{
    padding-left: 40px;
}

figcaption{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 40px;
    padding-top: 20px;
}

/* Our History */


.history-container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}

.history-content{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    margin-top: 100px;
    width: 800px;
    height: auto;
    background-color: #8F7F65;
    border-top-right-radius: 10px;
}

.history-content h1{
    grid-row: 1 / 2;
    margin-top: 80px;
    padding-left: 40px;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 16px;
    font-weight: normal;
    color: #FFFFFF;
}

.history-text{
    grid-row: 2 / 3;
    margin-top: 20px;
    margin-right: 40px;
}
.history-text p{
    font-family: "Montserrat", sans-serif;
    line-height: 2.0;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 100px;
    text-align: justify;
    color: #FFFFFF;
}

.history-img{
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
}

#history-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;  
}

.line-1,
.line-2 {
    display: block;
}

/* Creative Team */

.creativeTeam {
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    margin-top: 20px;
}
.mainContentTeam {
    width: 100%;
    max-width: 1920px;
    background-color: #8F7F65;
    display: flex;
    padding: 30px 60px;
    box-sizing: border-box;
}


.mainContentTeam > img {
    display: block;
    border-radius: 8px;
}

#teamImg{
    float: left;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 40px;
}

#layoutImg {
    float: right;
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-left: 40px;
}

.textContentTeam {
     overflow: hidden;
     color: #FFFFFF;
}

.textContentTeam h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 16px;
    font-weight: normal;
    margin-bottom: 24px;
    text-align: center;
}

.textContentTeam p {
    font-size: 14px;
    margin-bottom: 16px;
    text-align: justify;
}

.mainContentMarcelo {
    padding: 30px 60px;
    margin-top: 80px;
    margin-bottom: 60px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(to right, #333333, #b8b7b7 );
 
}


.mainContentMarcelo > img {
    float: left;
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-right: 40px;
}

.marceloContent h2 {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    padding-left: 400px;
    padding-top: 0;
    font-weight: normal;
    font-style: italic;
}

.marceloContent > p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 30%;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 20px;
}

.highlightsMarcelo{
    background-color: #787878;
    width: 360px;
    float: right;
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.highlightsMarcelo li{
    color: #FFFFFF;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
    font-size: small;
}

.highlightsMarcelo h3{
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.mainContentDiego {
    background: linear-gradient(to left,#00152E, #3c4e65 );
    padding: 30px 60px;
    margin-top: 80px;
    margin-bottom: 60px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
 
}

.mainContentDiego > img {
    float: right;
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-right: 10px;
}

.diegoContent h2 {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    padding-left: 400px;
    padding-top: 0;
    font-weight: normal;
    font-style: italic;

}

.diegoContent > p {
   font-size: 14px;
    margin-bottom: 10px;
    margin-right: 30%;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 20px;
}

.highlightsDiego{
    background-color: #00152E;
    width: 300px;
    float: left;
    height: 250px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 40px;
}

.highlightsDiego li{
    color: #FFFFFF;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
    font-size: small;
}

.highlightsDiego h3{
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}


/* Contact page */

.backgroundForms2{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #8F7F65;

}

.contentForms2{
    display: grid;
    width: 960px;
    height: 540px;
    background-color: #ffffff;
    border-radius: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 40px;
}

.imageForms2{
    grid-row: 1/3;
    grid-column: 1/2;
    width: 275px;
    height: 420px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;  
    margin-left: 40px;
    margin-top: 15px;
}

.imageForms2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mainContentForms2{
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
}

.mainTitle2{
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: 20px;
    margin-left: 10px;
    height: fit-content;

}

.mainClassTitle2{
    font-family: "Montserrat", sans-serif;
    color: #00054B;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}

.content2{
    display: grid;
    width: 456px;
    height: 267px;
    grid-template-rows: repeat(4, 1fr); 
    grid-template-columns: 1.5fr 1fr;
    column-gap: 100px;
       
}
.name2 input{
    grid-row: 1/2;
    grid-column: 1/2;
    height: fit-content;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none; 
    color: #00024B;
    opacity: 50%;
    border: none;
    border-bottom: solid 2px #00024B;
    background: transparent;
    margin-left: 10px;
}
.email2 input{
    grid-row: 2/3;
    grid-column: 1/2;
    height: fit-content;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none; 
    color: #00024B;
    opacity: 50%;
    border: none;
    border-bottom: solid 2px #00024B;
    background: transparent;
    margin-top: 52px;
    margin-left: 10px;
    padding-bottom: 15px;


}
.message2 input{
    grid-row: 3/4;
    grid-column: 1/3;
    height: fit-content;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none; 
    color: #00024B;
    opacity: 50%;
    border: none;
    border-bottom: solid 2px #00024B;
    background: transparent;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 15px;


}
.submit2{
    grid-row: 4/5;
    grid-column: 1/2;
    height: fit-content;
}

#submitButton2{
    background-color: #00054B;
    color: #FFFFFF;
    width: 200px;
    height: 38px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 10px;
    border: none;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

.contact2{
    grid-row: 1/2;
    grid-column: 2/2;
    height: fit-content;
}

#contactTitle2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #00024B;
}

#contactInfo2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00024B;
    text-decoration: none;
}

#contactContent2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00024B;
}

.adress2{
    grid-row: 2/3;
    grid-column: 2/2;
    height: fit-content;
    margin-top: 52px;

}
.socials2{
    grid-row: 4/5;
    grid-column: 2/2;
    margin-top: 40px;

}
.socials2 img{
    height: 23px;
    width: 23px;
    margin: 0 6px;
}

/* Management */

.mainManagement {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 0 20px;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.6;
    color: #222;
}
.mainContentManagement {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mainContentManagement > img:first-of-type {
    order: 1;
    flex: 0 0 33%;
    height: 360px;
    object-fit: cover;
    display: block;
}

.contentStrengths {
    order: 2;
    flex: 0 0 67%;
    background-color: #e1deda;
    padding: 80px 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 360px;
}

.contentStrengths h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    margin: 0;
    flex: 0 0 35%;
    padding-left: 80px;
}

.contentStrengths h2 .line-1,
.contentStrengths h2 .line-2 {
    display: block;
}

/* vertical line */
.divider {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translateY(-50%);
    border: none;
    border-left: 2px solid #3A2E23;
    height: 260px;
    margin: 0;
}

.strengths-items {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item p {
    margin: 0;
    font-size: 13px;
}

.textContentManagement {
    order: 3;
    flex: 0 0 33%;
    background-color: #8F7F65;
    color: #ffffff;
    padding: 40px 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 280px;
}

.textContentManagement h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    font-style: italic;
}


.textContentManagement p {
    font-size: 14px;
    margin: 0;
}

#secondImgManagement{
    order: 4;
    flex: 0 0 67%;
    height: 280px;
    object-fit: cover;
    display: block;
}

.quote-section {
    margin-top: -190px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    pointer-events: none;
    height: fit-content;
}

.quote-section blockquote {
    pointer-events: auto;
    max-width: 420px;
    background-color: #B5946E;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    box-sizing: border-box;
}

.quote-section .quote-mark {
    display: block;
    font-size: 50px;
    line-height: 1;
}

.quote-section cite {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    opacity: 0.9;
}